In [60]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import inspect
import sys
from sklearn.model_selection import train_test_split

In [61]:
# set current notebook path
current_dir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parent_dir = os.path.dirname(current_dir)
sys.path.insert(0, parent_dir)

In [62]:
## datapath 
data = 'F:\Bala_EU_DSVM_BACKUP\Shopee_challenge\Shopee_Challenge\data'
train_file = 'train.csv'
test_file = 'test.csv'
train_data_path = os.path.join(data,train_file)
test_data_path = os.path.join(data,test_file)

In [63]:
# load train data
train_data = pd.read_csv(train_data_path)

In [64]:
train_data.head()

,id,raw_address,POI/street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,3,"toko dita, kertosono",toko dita/
4,4,jl. orde baru,/jl. orde baru

In [72]:
def parse_iob_format(data=None, is_test: bool = False, rm_na: bool = False, valid_split:int = 0.2) -> pd.DataFrame:
    """
    """
    df=data.copy()
    if not is_test:
        print('Processing data for NER format....')
        if rm_na:
            print('Removing na in the data')
            df['POI/street']=df['POI/street'].replace('/', np.nan)
            df = df.dropna(subset=['POI/street'])
        df[['poi', 'street']]= df['POI/street'].str.split('/',expand=True)
        train_df, valid_df = train_test_split(df, test_size=valid_split, random_state=33)
        return train_df, valid_df
    else:
        print('Loading data for prediction...')

In [73]:
train_df, test_df=parse_iob_format(data=train_data, is_test=False, rm_na=True)

Processing data for NER format....
Removing na in the data

In [74]:
test_df.head()

,id,raw_address,POI/street,poi,street
214485,214485,rusun kapuk muara blokg lantai 2 no 8,rusun kapuk muara/,rusun kapuk muara,
298399,298399,jatikarya raya kal 80 rt 2 6 17435 jati sampurna,/raya kal,,raya kal
125142,125142,mess dirgantara skadik 602 lanud suryadarma ka...,lanud suryadarma kalijati/,lanud suryadarma kalijati,
139240,139240,raden wij no 258 64182 ngasem,/raden wij,,raden wij
134484,134484,"orindo man, kawa mega mas sario",orindo manado/kawa mega mas,orindo manado,kawa mega mas