In [12]:
import pandas as pd
import re
from sklearn.model_selection import train_test_split

In [13]:
train_data = pd.read_csv(r'C:\Users\1993s\Downloads\scl-2021-ds\train.csv')

In [14]:
test_data = pd.read_csv(r'C:\Users\1993s\Downloads\scl-2021-ds\test.csv')

In [15]:
train_data.head()

,id,raw_address,POI/street
0,0,jl kapuk timur delta sili iii lippo cika 11 a ...,/jl kapuk timur delta sili iii lippo cika
1,1,"aye, jati sampurna",/
2,2,setu siung 119 rt 5 1 13880 cipayung,/siung
3,3,"toko dita, kertosono",toko dita/
4,4,jl. orde baru,/jl. orde baru

In [16]:
test_data.head()

   id                                    raw_address
0   0          s. par 53 sidanegara 4 cilacap tengah
1   1          angg per, baloi indah kel. lubuk baja
2   2                          asma laun, mand imog,
3   3  ud agung rej, raya nga sri wedari karanganyar
4   4                     cut mutia, 35 baiturrahman

In [17]:
train_80_data, val_20_data = train_test_split(train_data, test_size=0.2)

In [18]:
display(train_80_data.head())
print(train_80_data.shape)

,id,raw_address,POI/street
106322,106322,gg. mas darus 69 rt 12 2 pondok pinang kebayor...,/gg. mas darus
241177,241177,"ye pe em, 42441",ye pe em/
219683,219683,"mitra net cafe, polta, pasar minggu",mitra net cafe/polta
248253,248253,"gerry ferhart jasa sniper darde, cibeu cibeute...",gerry ferhart jasa sniper darderdor/cibeu
20465,20465,nerada estate blokb8 11,nerada estate/

(240000, 3)

In [19]:
display(val_20_data.head())
print(val_20_data.shape)

,id,raw_address,POI/street
81026,81026,"omah mode, jend. ahmad yani, panjunan",omah mode/jend. ahmad yani
67909,67909,"tea country, ptpn 8, raya ciwi, sadu soreang",/
254760,254760,lant iv cakung timur cakung,/
209343,209343,"anekatrans pers indon pt,",anekatrans persada indonesia pt/
260774,260774,pot batu anu andi,pot batu anurah andi/

(60000, 3)

In [20]:
val_20_data.to_csv(r'C:\Users\1993s\Downloads\scl-2021-ds\val_20_data_csv.csv', encoding='utf-8')

In [21]:
def text_file_gen(address, ps):
    #print(address)
    #print(ps)
    address = address.lower()
    ps = ps.lower()
    
    POI = ps.split('/')[0]
    street = ps.split('/')[1]
    
    #add = re.split('[- :,.]',address)
    #POI = re.split('[- :,.]',POI)
    #street = re.split('[- :,.]',street)
    
    add = re.split('[ ]',address)
    POI = re.split('[ ]',POI)
    street = re.split('[ ]',street)
    
    
    add = [i for i in add if i != '']
    POI = [i for i in POI if i != '']
    street = [i for i in street if i != '']
    
    add_fl = ['O' for i in add]
    
    #print(add)
    
    for p in range(len(POI)):
        try:
            if p == 0:
                add_fl[add.index(POI[0])] = 'B-POI'
            else:
                add_fl[add.index(POI[0])+p] = 'I-POI'
        except:
            pass
        
    for s in range(len(street)):
        try:
            if s == 0:
                add_fl[add.index(street[0])] = 'B-STREET'
            else:
                add_fl[add.index(street[0])+s] = 'I-STREET'
        except:
            pass
    
    #print(add_fl)
    
    return add, add_fl

In [22]:
with open(r"C:\Users\1993s\Downloads\scl-2021-ds\train_80_file.txt", "a", encoding='utf-8') as file:
    for i,r in train_80_data.iterrows():
        add_full, add_op = text_file_gen(r['raw_address'], r['POI/street'])

        for j in range(len(add_op)):
            string = add_full[j]+ " " + add_op[j]
            file.write(string+ '\n')
            
        file.write('\n')

In [23]:
with open(r"C:\Users\1993s\Downloads\scl-2021-ds\val_20_file.txt", "a", encoding='utf-8') as file:
    for i,r in val_20_data.iterrows():
        add_full, add_op = text_file_gen(r['raw_address'], r['POI/street'])

        for j in range(len(add_op)):
            string = add_full[j]+ " " + add_op[j]
            file.write(string+ '\n')
            
        file.write('\n')

In [24]:
def test_text_file_gen(address):
    #print(address)
    #print(ps)
    address = address.lower()
    
    add = re.split('[ ]',address)
    
    add = [i for i in add if i != '']
    
    add_fl = ['O' for i in add]
    
    
    return add, add_fl

In [25]:
with open(r"C:\Users\1993s\Downloads\scl-2021-ds\test_file.txt", "a", encoding='utf-8') as file:
    for i,r in test_data.iterrows():
        add_full, add_op = test_text_file_gen(r['raw_address'])

        for j in range(len(add_op)):
            string = add_full[j]+ " " + add_op[j]
            file.write(string+ '\n')
            
        file.write('\n')